{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h2>{{ title }}</h2>

    {% if confirm_message %}
        <p>{{ confirm_message }}</p>
    {% endif %}

    <p>Tulis Pesan Kamu, </p>

    {% if form %}
        <form method="POST" action="">{% csrf_token %}
        {{ form | crispy }}

        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="g-recaptcha" data-sitekey="6LetRl4UAAAAAHu2-GmRyJo6HFdhGR7YMVmx0Dit"></div>
        <p></p>
        <input type="submit" value="Submit form" class="btn btn-success"/>
        </form>
        <p></p>
        <hr/>
    {% endif %}



{% endblock content %}