{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>mysite | {% block title %}{% endblock title %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
    {% block css %}
        <style>
         body .container {
                padding: 20px 15px 0;
            }
        </style>
    {% endblock css %}
  </head>

  <body>

  {% include 'snippets/nav.html' %}

    <main role="main">

      {% block jumbotron %}{% endblock jumbotron %}

      <div class="container">
        <!-- Example row of columns -->
        <div class="row" >
          <div class="col-md-8">
            {% block content %}{% endblock content %}
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <hr>
      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'javascript/jquery-3.2.1.slim.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="{% static 'javascript/jquery-slim.min.js' %}"><\/script>')</script>
    <script src="{% static 'javascript/popper.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.min.js' %}"></script>

    {% block javascript %}{% endblock javascript %}
  </body>
</html>
